header {
    background-color: #1D4275;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

header h1{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbarStyle a
{
    font-size:larger;
}

.seccionInicioRecep
{
    padding:5%;
}

.turnosYnovedades
{
    display:flex;
}

.seccionTurnosRepc {
    width: 70%;
    height: 600px;
    background-color: #4da1a9;
    padding: 10px;
}

.seccionNovedadRepc 
{
    width: 20%;
    height: 600px;
    background-color: #edebdbff;
    padding: 10px;
    margin-left: 30px;
}